body{
    min-width: 980px;
}
.container{
    width: 1280px !important;
    max-width: none !important;
}
.container-fluid{
    width:100%;
    padding: 0;
}
.title-a{
    height: 50px;
}
.title .container-fluid a{
    border: 0;
    background-color: transparent;
}
.title a:focus{
    outline: none;
}
.title .title-nav{
    margin: 3px 0;
    background: linear-gradient(#fff, #f2f2f2);
}
.images{
    background: #f7f7f7;
    padding: 20px 0;
}
.images img{
    background: #fff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
.images img:hover{
    box-shadow: 0 5px 8px #ccc;
}
.footer{
    padding: 25px;
    background: #242C31;
    color:#888;
    font-size: 12px;
}
.footer a{
    color: #fff;
    margin:0 20px;
}
.ddd{
    height: 250px;
}
